.footer-area{
    background-color: #a013c4;
    height: 20vh;
    font-size:6vh;
    text-align: center;
    padding-top: 4vh;
    color: white;
}

#container{
    margin-top: 2vh;
    margin-left: 70vh;
    background-color: #a013c4;
    width: 60vh;
    border-radius: 4vh;
}
.formStyle{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    color:white;
    font-size: 3vh;
}
.formStyle input{
    font-size: 3vh;
}
.newUser{
    color:white;
    text-align: center;
    padding: 2vh;
    font-size: 4vh;
}